nav ul {
    list-style: none;
}

nav li { 
    display: inline;
    margin-right: 50px;
}

body {
    font-family: roboto;
}

.intro { 
    color:darkslategrey;
}

body {
    background-color:darkgray;
    color: white;
}

footer p {
    text-align: center;
    padding: 20px;
    color: white;
}