#logo {
    font-size: 40px;
    color: teal;
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav li { 
    display: inline;
    margin-right: 50px;
}

body {
    font-family: roboto;
    background-color:darkgray;
    color: white;
    text-align: center;
}

.intro { 
    color:darkslategrey;
}


header, footer p {
    text-align: center;
    color: white;
}

header, footer {
    background-color: darkslategray;
    padding: 20px;
}