#logo {
    font-size: 40px;
    color: teal;
    font-weight: bold;
}


nav li { 
    display: inline;
    margin-right: 50px;
}

body {
    font-family: roboto;
    background-color:darkgray;
    color: rgb(248, 210, 210);
}

.intro { 
    color:darkslategrey;
}


header, footer p {
    text-align: center;
    color: white;
}

header, footer {
    background-color: darkslategray;
    padding: 20px;
}

.sections {
    background-color: dimgray;
    color: black;
    padding: 20px;
    margin: 20px;
    border-radius: 90px;
    text-align: center;
}

img {
    display: inline;
    border-radius: 20px;
    margin: 10px;
}